<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>file:conf\context.xml</param-value>
    </context-param>
    

    <servlet>
        <servlet-name>restServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>sstar.prospero.rest</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>restServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Prospero</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>A Protected Page</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>